
/* Universal Selectors */
* {
    font-family: 'Work Sans', sans-serif;
}
/* Ends */

/* Declaring Variables to play around universely */
:root {
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    --third-color: rgba(11, 2, 35, 0.10);
    --linear-grad: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

}
/* Ends */

/* Body CSS */
body {
    padding: 0;
    margin: 0;
}
/* Ends  */


/* Nav Section Starts */
.icons {
    width: 20px;
    height: 19px;
}

.gamer {
    color: var(--primary-color);
}

.site-logo h2 {
    font-size: 45px;
    font-weight: 700;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.site-logo {
    display: flex;
    justify-items: center;
    align-items: center;
}

.site-menus {
    display: flex;
    align-items: center;

}

.site-follow-tab {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    background-color: rgba(211, 211, 211, 0.599);
}

.site-menus p {
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 500;
    margin: 0 10px;
}

.site-follow-tab img {
    margin: 0 5px;
}
/*Ends */







/* Responsive Section Starts Here */
/* Breakpoints
    1. Mobile Devices: 320px - 480px
    2. Ipads, Tablets: 481px - 768px
    3. Small Screens, Laptops: 769px - 1024px
    4. Desktops, large screens: 1025px — 1200px
    5. Extra large screens, TV:  1201px, and more
*/