*{
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    --linear-grad: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body{
    padding: 0;
    margin: 0;
}

.icons{
    width: 15px;
    height: 14px;
}
